<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlAdmin</servlet-name>
        <servlet-class>sistema.controller.controlAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admindao</servlet-name>
        <servlet-class>sistema.dao.Admindao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminservlet</servlet-name>
        <servlet-class>sistema.controller.adminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletmenu</servlet-name>
        <servlet-class>sistema.controller.servletmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carritoservlet</servlet-name>
        <servlet-class>sistema.controller.carritoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>sistema.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userservlet</servlet-name>
        <servlet-class>sistema.controller.userservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlAdmin</servlet-name>
        <url-pattern>/controlAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admindao</servlet-name>
        <url-pattern>/Admindao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminservlet</servlet-name>
        <url-pattern>/adminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletmenu</servlet-name>
        <url-pattern>/servletmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carritoservlet</servlet-name>
        <url-pattern>/carritoservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userservlet</servlet-name>
        <url-pattern>/userservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
